@font-face {
    font-weight: 400;
    font-family: Bebas-Neue;
    font-style: normal;
    src:  format("embedded-opentype"), url("") format("woff"), url("") format("woff2"), url("") format("truetype");
    font-display: swap
}

@font-face {
    font-weight: 400;
    font-family: Roboto-Condensed;
    font-style: normal;
    src: format("embedded-opentype"), url("") format("woff"), url("") format("woff2"), url("") format("truetype");
    font-display: swap
}

@font-face {
    font-weight: 400;
    font-family: Montserrat-Medium;
    font-style: normal;
    src:  format("embedded-opentype"), url("") format("woff"), url("") format("woff2"), url("") format("truetype");
    font-display: swap
}

@font-face {
    font-weight: 400;
    font-family: Montserrat-ExtraBold;
    font-style: normal;
    src:  format("embedded-opentype"), url("") format("woff"), url("") format("woff2"), url("") format("truetype");
    font-display: swap
}

:root {
    --text-primary-color: #fff;
    --text-dark-color: #fff;
    --text-secondary-color: #ffad3d;
    --text-bright-color: #bb8e62;
    --body-bg-color: #000e26;
    --body-bg-color-sm: #000723;
    --ref-block-bg-color-desktop: #162230;
    --ref-block-bg-color: var(--text-secondary-color);
    --btn-bg-color: #fe882b;
    --prev-btn-color: #ff4b46;
    --btn-shadow-color: 3px 3px 0 0 #a0551a;
   
    --form-button-gradient: #bb8e62;
 
    --form-button-shadow: 0 0 32px 0 rgba(44, 68, 145, 0.4), inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.3);
    --text-shadow: 0 1px 0 #1c546f;
   
    --font-family-bebas: "Bebas-Neue", sans-serif;
    --font-family-roboto: "Roboto-Condensed", sans-serif;
    --font-family-montserrat-medium: "Montserrat-Medium", sans-serif;
    --font-family-montserrat-extrabold: "Montserrat-ExtraBold", sans-serif
}

* {
    box-sizing: border-box
}

html {
    font-family: var(--font-family-bebas)
}

body {
    height: 100%;
    color: var(--text-primary-color);
    background: var(--body-bg-color) url("bannerking.jpg") no-repeat 50%;
    background-size: cover
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

a {
    color: inherit;
    text-decoration: none
}

input,
select,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none
}

input[type=number] {
    -moz-appearance: textfield
}

.container1 {
    width: 1440px;
    margin: 0 auto
}

.pika-label:nth-child(2) {
    color: var(--btn-bg-color)
}

@media (max-width:1920px) {
    .container1 {
        width: 1100px
    }
}

@media (max-width:1100px) {
    .container1 {
        width: 800px
    }
}

@media (max-width:768px) {
    .container1 {
        width: 565px
    }
    body {
        background: var(--body-bg-color-sm) url("banner_tablet.jpg") no-repeat top;
            background-size: cover
    }
}

@media (max-width:500px) {
    .container1 {
        width: 300px
    }
}

.header1 {
    min-width: 60px;
    max-width: 22%;
    height: 100px;
    margin: 0 auto;
    background-size: contain
}

@media (max-width:1100px) {
    .header1 {
        height: 90px
    }
}

@media (max-width:768px) {
    .header1 {
        min-width: 90px;
        max-width: 40%;
        height: 80px
    }
}

@media (max-width:500px) {
    .header1 {
        max-width: 22%;
        height: 45px
    }
}

.main {
    display: flex;
    margin: 0 -15px
}

.king,
.main {
    position: relative
}

.king {
    top: 100px;
    left: 115px;
    width: 450px;
    height: 760px;
    background-size: contain
}

.text1 {
    position: absolute;
    top: 36.5%;
    left: 30%;
    width: 455px;
    padding: 0 20px;
    font-family: 'Bebas Neue', cursive;
}

.title {
    margin-bottom: 70px;
    color: var(--text-dark-color);
    font-size: 25px;
    letter-spacing: 5px;
    text-align: right
}



.tak-block {
    margin: 0 0;
    font-size: 27px;
    line-height: 50px;
    letter-spacing: 2px;
    text-align: center;
    background-color: var(--ref-block-bg-color-desktop);
    visibility: hidden;
}

.icons-circle {
    position: absolute;
    right: 0;
    width: 100%;
    height: 116px;
    margin-top: 50px;
    white-space: nowrap;
    text-align: center
}




.button-block {
    margin: 20px auto 0;
    text-align: center;
    cursor: pointer
}

.button-block .button {
    display: inline-block;
    padding: 9px 46px;
    color: var(--text-primary-color);
    font-weight: 700;
    font-size: 27px;
    font-family: var(--font-family-roboto);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    background-color: #93c85f;
    box-shadow: var(--btn-shadow-color);
    visibility: visible;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: 5;
    animation-iteration-count: 5;
    animation: pulses 2s ease-in-out infinite;
}

@keyframes pulses {
    0% {
    transform: scale(.9);
}
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(.9);
}
}

}

.button-block .button:hover {
    background-color: #ff9800
}

.button-block .button:active {
    box-shadow: 0 0 5px 1px
}

@media (max-width:1100px) {
    .text1 {
        top: 30%;
        left: 17%
    }
}

@media (max-width:768px) {
    .king {
        top: 50px;
        left: -54px;
        width: 77%
    }
    .text1 {
        top: 225px;
        width: 400px;
        margin-top: 0
    }
    .title {
        margin-bottom: 90px;
        letter-spacing: 3px
    }
   
    .tak-block {
        margin-top: 0;
        font-size: 26px;
        line-height: 45px;
        visibility: hidden;
    }
    .icons-circle {
        width: 90%;
        height: 81px;
        margin-top: 25px;
        text-align: initial
    }
  
    .button-block {
        margin: 20px auto 0
    }
    .button-block .button {
        padding: 9px 36px;
        font-size: 40px
    }
}

@media (max-width:650px) {
    .text1 {
        left: 27%
    }
}

@media (max-width:500px) {
    .king {
        top: -50px;
        left: 48px;
        width: 82%
    }
    .text1 {
        top: 310px;
        left: -10px;
        width: 350px
    }
    .title {
        margin-bottom: 60px;
        color: var(--text-primary-color);
        font-size: 20px;
        text-align: center
    }
   
    .tak-block {
        margin-top: 10px;
        font-size: 20px;
        line-height: 40px;
        background-color: var(--ref-block-bg-color);
        visibility: hidden;
    }
   
    .button-block {
        margin: 20px auto 0
    }
    .button-block .button {
        font-size: 20px;
    }
}

.footer {
    margin-top: 63px
}

.footer-copytext,
.footer-icons {
    position: relative;
    text-align: center
}







@media (max-width:1380px) {
    .footer-icons {
        flex-wrap: wrap
    }
}

@media (max-width:768px) {
    .footer {
        margin-top: -40px
    }
    .icon {
        margin: 0 10px
    }
}

.white {
    color: var(--text-primary-color)
}

.yellow {
    color: var(--text-bright-color)
}



@-webkit-keyframes pulse {
    0% {
        color: var(--loader-color)
    }
    to {
        color: var(--loader-opacity-color)
    }
}

@keyframes pulse {
    0% {
        color: var(--loader-color)
    }
    to {
        color: var(--loader-opacity-color)
    }
}

@-webkit-keyframes load {
    0% {
        transform: rotate(-35deg)
    }
    18% {
        border-width: 18px
    }
    50% {
        border-width: 4px
    }
    82% {
        border-width: 18px
    }
    80% {
        opacity: .8
    }
    to {
        transform: rotate(215deg)
    }
}

@keyframes load {
    0% {
        transform: rotate(-35deg)
    }
    18% {
        border-width: 18px
    }
    50% {
        border-width: 4px
    }
    82% {
        border-width: 18px
    }
    80% {
        opacity: .8
    }
    to {
        transform: rotate(215deg)
    }
}

@-webkit-keyframes btn-anim {
    0% {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

@keyframes btn-anim {
    0% {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}
